* {
  box-sizing: border-box;
}

html, body, .container-fluid {
  height: 100%;
  background-color: #eee;
}

html {
  -webkit-app-region: drag;
}

.container-fluid {
  padding: 25px;
}

/* Time styling */
.time {
  text-align: center;
  margin-bottom: 1em;
  font-family: sans-serif;
}

input.new-todo {
  padding: 16px;
  margin-bottom: 25px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 25px 0 rgba(0, 0, 0, 0.1);

  font-style: italic;
  font-family: inherit;
  font-weight: inherit;

  width: 100%;
  font-size: 24px;
  line-height: 1.4em;
}

input.new-todo::placeholder {
  opacity: 0.5;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  background: #fff;
  border: 1px solid #eee;
  font-family: sans-serif;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-list li .toggle {
  border: 1px solid #ededed;
  border-radius: 50%;
  padding: 20px;
}

.todo-list li label.label-handle {
  word-break: break-all;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 300;
  margin-left: 15px;
  flex-grow: 2;
  cursor: pointer;
}

.todo-list li.completed .toggle {
  /* PP Green */
  background-color: #00CF92;
}

.todo-list li.completed label {
  opacity: 0.25;
  text-decoration: line-through;
}

/* "Remove" button styling */
.todo-list li .remove {
  visibility: hidden;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
}

.todo-list li .remove:hover {
	color: #af5b5e;
}

.todo-list li .remove:after {
  content: '×'
}

.todo-list li:hover .remove {
  visibility: visible;
}

