html, body, .container-fluid {
  height: 100%;
  background-color: #eee;
}

html {
  -webkit-app-region: drag;
}

.container-fluid {
  padding: 25px;
}

/* ::selection {
  background:rgba(255, 255, 125, 0.99);
  color:#032764;
} */

/* Time styling */
.time {
  text-align: center;
  margin-bottom: 1em;
}

input.new-todo {
  padding: 16px 16px 16px 16px;
  margin-bottom: 25px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 25px 0 rgba(0, 0, 0, 0.1);

  font-style: italic;
  font-family: inherit;
  font-weight: inherit;

  width: 100%;
  font-size: 24px;
  line-height: 1.4em;
  /* box-sizing: border-box; */
}

input.new-todo::placeholder {
  opacity: 0.5;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;

  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding-left: 15px;
}

.todo-list li .toggle {
  margin-left: 15px;
  height: 40px;
  width: 40px;
  border: 1px solid #ededed;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.todo-list li label.label-handle {
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  margin-bottom: 0;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 300;
  cursor: pointer;
}

.todo-list li.completed .toggle {
  /* PP Green */
  background-color: #00CF92;
}

.todo-list li.completed label {
  opacity: 0.5;
  text-decoration: line-through;
}

/* "Remove" button styling */
.todo-list li .remove {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.todo-list li .remove:hover {
	color: #af5b5e;
}

.todo-list li .remove:after {
  content: '×'
}

.todo-list li:hover .remove {
    display: block;
}

